
/* All Style */
li a, a{
    color: red;
}

ul, h1, label {
color: white;
}

/* Detail and Results Style */
body{
    background: white url("images/background.jpg") no-repeat;
    background-size: 300%;
}

/* Index Style */
#bodyIndex {
    background: white url("images/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}
